* {
  margin: 0;
  padding: 0;
  border: 0;
}

.custom-text{
    font-weight: bold;
    color: blue;
}

li {
    display: inline-block;
    margin-left: 10px;
}

header {
    background: blue;
    color: white;
    padding: 25px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

header a {
  color: orange;
  text-decoration: none;
}

h1,
nav {
  display: inline-block;
}

h2 {
  margin-bottom: 10px;
}

section {
  margin: 40px 0;
}
